<!DOCTYPE html>
<html>
  <head>
    <title>You are not connected to the Internet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <!-- This file lives in public/offline.html -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 text-center">
        <h1 class="offline">You're offline!</h1>
        <p>It looks like you've lost your Internet connection. This page is not available with the offline version of Coral Gardeners. Please return to a dive-related page or select one of the links below:</p><br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <a class="btn btn-primary btn-block" href="<%= new_dive_path %>" role="button">Start A New Dive</a><br>
        <a class="btn btn-primary btn-block" href="<%= new_nursery_table_path %>" role="button">Create A New Nursery Table</a>
      </div>
    </div>
  </body>
</html>
