<h1><%= t('.title') %></h1>

<%= render 'form', nursery_table: @nursery_table %>

<%= link_to t('defaults.actions.show'), @nursery_table %> |
<%= link_to t('defaults.actions.back'), nursery_tables_path %>
