<div class="row">
  <% @title = "Coral Gardeners | Home" %>

  <%# Flash message for errors %>
  <% if flash[:alert] != nil %>
    <div class="col-12 justify-content-center alert alert-dark" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col">
    <h1>Home Page</h1>
  </div>
</div>