<%= form_with(model: restoration_activity_log_entry, local: true) do |form| %>
  <% if restoration_activity_log_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restoration_activity_log_entry.errors.count, "error") %> prohibited this restoration_activity_log_entry from being saved:</h2>

      <ul>
      <% restoration_activity_log_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
