<h1><%= t('.title') %></h1>

<%= render 'form', restoration_activity_log_entry: @restoration_activity_log_entry %>

<%= link_to t('defaults.actions.show'), @restoration_activity_log_entry %> |
<%= link_to t('defaults.actions.back'), restoration_activity_log_entries_path %>
