<h1>Editing Restoration Activity Log Entry</h1>

<%= render 'form', restoration_activity_log_entry: @restoration_activity_log_entry %>

<%= link_to 'Show', @restoration_activity_log_entry %> |
<%= link_to 'Back', restoration_activity_log_entries_path %>
