// Google Fonts //
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/


// Custom Megstrap Styling //

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

h5.card-title {
  font-size: 3rem;
}

h6.card-subtitle {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.card-footer > a.btn {
  background-color: #FFB161;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2rem solid #FFB161;
  border-radius: 0.5rem;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  margin: 1rem;
  padding: 1.2rem 3rem;
}

.card-footer > a.btn:hover {
  background-color: #31013E;
  border: 0.2rem solid #7B328F;
}

p.card-text {
  font-size: 2rem;
  line-height: 2.4rem;
}

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import 'desktop', 'tablet', 'nursery_tables', 'zones', 'restoration_activity_log_entries';


// Styling Variables //

// Fonts //
$main-font: 'Lato', sans-serif;

// Colors //
$white: #FFFFFF;
$black: #000000;
$light-accent: #FFB161;
$light-shade: #E7F8FB;
$main-color: #85C7D3;
$dark-shade: #378593;
$dark-accent: #7B328F;
$main-text: #001A1F;
$accent-text: #31013E;
$highlight-text: #C06D19;


@media screen { 

  // Reset //
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Base-Level //

  html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
  }

  body {
    height: 90%;
    background-color: $main-color;
    color: $main-text;
    font-family: $main-font;
  }

  .wrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: $light-shade;
    -moz-box-shadow: 0 0 2rem $dark-shade;
    -webkit-box-shadow: 0 0 2rem $dark-shade;
    box-shadow: 0 0 2rem $dark-shade;
  }

  p {
    margin-bottom: 1rem;
  }

  h1 {
    font-weight: 900;
    text-transform: uppercase;
  }

  h1.offline {
    color: $accent-text;
  }

  h2 {
    font-weight: 900;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 900;
    text-transform: uppercase;
  }

  a {
    color: $accent-text;
    font-weight: 900;
    text-decoration: none;
  }

  a:hover {
    color: $highlight-text;
    text-decoration: none;
  }

  // Navbar //

  nav {
    padding: 0 8rem;
    display: flex;
    flex-shrink: 0;
    border-bottom: 0.5rem solid $dark-shade;
    font-size: 1.8rem;
  }

  // Buttons //

  a.btn {
    background-color: $dark-accent;
    color: $light-shade;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2rem solid $dark-accent;
    border-radius: 0.5rem;
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
  }

  a.btn:hover {
    background-color: $highlight-text;
    border: 0.2rem solid $light-accent;
  }

  // Footer //

  footer {
    display: flex;
    flex-shrink: 0;
  }

  small {
    font-size: 60%;
    margin-bottom: 1rem;
  }

}

