@media screen 
  and (min-device-width: 1025px) { 

  // Base-Level //

  .wrapper {
    margin: 3rem 0;
    padding: 1.5% 3%;
  }

  p {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  h1 {
    font-size: 6rem;
    margin-bottom: 1.8rem;
  }

  h2 {
    font-size: 3.8rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
  }

  // Buttons //

  .btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  a.btn {
    font-size: 2rem;
    font-weight: 900;
    padding: 1.2rem 5rem;
  }

  // Forms //

  .form-inputs {
    font-size: 1.8rem;
  }

  .btn.btn-primary {
    font-size: 1.8rem;
  }
  
  // Footer //

  footer {
    display: flex;
    flex-shrink: 0;
  }

}
