// Google Fonts //
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

// Fonts //
$main-font: 'Lato', sans-serif;

// Colors //
$white: #FFFFFF;
$black: #000000;
$light-accent: #FFB161;
$light-shade: #E7F8FB;
$main-color: #85C7D3;
$dark-shade: #378593;
$dark-accent: #7B328F;
$main-text: #001114;
$accent-text: #25012F;
$highlight-text: #C06D19;
